@charset "utf-8";

@import "bower_components/font-awesome/scss/font-awesome";

/* ==========================================================================
   Foundation
   ========================================================================== */

/* Base
   ----------------------------------------------------------------- */

html {
    height: 100%;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fbe550;
    color: #333;
    height: 100%;

    input, button {
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      cursor: pointer;
      margin: 0;
    }

    a {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #0070c0;
    }

    a:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover {
      opacity: 0.6;
      filter: alpha(opacity=60);
    }

    a:visited,
    a:active {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }

    ul, ol {
      margin-left: 1em;
    }
}

/* ----- */

.container {
    height: 100%;
    padding-top: calc(2em * 1.5); /* nav-bar height = font-size * line-height(ratio) */
    padding-bottom: calc(2em * 1.5); /* tab-bar height = font-size * line-height(ratio) */
}


/* ==========================================================================
   Layout
   ========================================================================== */
.ember-application {
  background-color: #777;
}

/* ==========================================================================
   google map
   ========================================================================== */
.g-map-canvas {
  width: 100%;
  height: 150px;
}
/* ==========================================================================
   nav-bar
   ========================================================================== */
.nav-bar {
  display: -webkit-flex;  /* Safari */
  display: flex;
  -webkit-justify-content: space-between;  /* Safari */
  justify-content: space-between;
  font-size: 2em;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #FFF;
}

/* ==========================================================================
   tab-bar
   ========================================================================== */
.tab-bar {
  display: -webkit-flex;  /* Safari */
  display: flex;
  -webkit-justify-content: space-between;  /* Safari */
  justify-content: space-between;
  background-color: #666;
  position: fixed;
  bottom: 0;
  margin-left: 0;
  width: 100%;

  .tab-bar__item{
    text-align: center;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 2em;
    a {
      background-color: #555;
      display: block;
      width: 100%;
    }
  }
}

/* ==========================================================================
   draggable-bar
   ========================================================================== */
.draggable-bar {
  text-align: center;
  background-color: #d5d5d5; 
}

$travel-days__date__text-width: 1.2em;
$travel-days__date__a-height: 70px;

.travel-days {
  font-size: 10px;
  background-color: #aed9d1;
  margin-left: 0;
  width: 100%;
  white-space: nowrap;
  overflow: auto; /* サイズがはみ出した場合、スクロール方法をブラウザのおすすめで決定してくれる */

  .travel-days__date{
    display: inline-block; /**/
    text-align: center;
    font-size: 18px;
    width: 65px;
    vertical-align: top; /* li 日付とEmptyでベースラインがずれてしまうため、強制する */
    a {
      display: block;
      position: relative; /* position absolute の基準となる */
      background-color: #81C3B6;
      color: white;
      width: 100%;
      height: $travel-days__date__a-height; /* TODO 高さ要調整 */
      &.active {
        color: #9B1F1F;
        background-color: white;
      }
    }
    .travel-days__date__month {
      position: absolute;
      top: 5px;
      right: 50%; /* 右端が中心にくる */
      width: $travel-days__date__text-width;
      text-align: center; /* ２桁右寄せ */
    }
    /* 月と日付をまたぐスラッシュをボーダーで記述する */
    .travel-days__date__month:after {
      display: block;
      position: absolute;
      bottom: 4px;
      right: -20px;
      border-top: 1px solid;
      width: 40px;
      transform: rotate(-45deg);
      content: ""; /* contentがないと擬似要素が有効にならない仕様 */
    }
    .travel-days__date__day {
      position: absolute;
      top: calc(5px + 1em);
      left: 50%;  /* 左端が中心にくる */
      width: $travel-days__date__text-width;
      text-align: center; /* ２桁右寄せ */
    }
    .travel-days__date__daysOfTheWeek {
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      font-size: 12px;
      text-align: center;
    }
  }

  .travel-days__date--empty{
    @extend .travel-days__date;
    a {
      color: #C1E6DE;
      background-color: #94CDC1;
      line-height: $travel-days__date__a-height;
      vertical-align: medium;
    }
  }
}
