@charset "utf-8";

@import "bower_components/font-awesome/scss/font-awesome";

/* ==========================================================================
   Foundation
   ========================================================================== */

/* Base
   ----------------------------------------------------------------- */

html {
    height: 100%;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fbe550;
    color: #333;
    height: 100%;

    input, button {
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      cursor: pointer;
      margin: 0;
    }

    a {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #0070c0;
    }

    a:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover {
      opacity: 0.6;
      filter: alpha(opacity=60);
    }

    a:visited,
    a:active {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }

    ul, ol {
      margin-left: 1em;
    }
}

/* ----- */

.container {
    height: 100%;
}


/* ==========================================================================
   Layout
   ========================================================================== */
.ember-application {
  background-color: #777;
}

/* ==========================================================================
   google map
   ========================================================================== */
.g-map-canvas {
  width: 100%;
  height: 100px;
}
/* ==========================================================================
   nav-bar
   ========================================================================== */
.nav-bar {
  display: -webkit-flex;  /* Safari */
  display: flex;
  -webkit-justify-content: space-between;  /* Safari */
  justify-content: space-between;
  font-size: 2em;
}

/* ==========================================================================
   tab-bar
   ========================================================================== */
.tab-bar {
  display: -webkit-flex;  /* Safari */
  display: flex;
  -webkit-justify-content: space-between;  /* Safari */
  justify-content: space-between;
  background-color: #666;

  .tab-bar__item{
    text-align: center;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 2em;
    a {
      background-color: #555;
      display: block;
      width: 100%;
    }
  }
}

