{{navigation-bar navigation=model.navigation}}
<main>
<ul class="travel-plans">
  {{#each model.travelPlans as |plan|}}
    <li class="travel-plans__plan"><i class="fa fa-paper-plane">{{plan.name}}</i></li>
  {{/each}}
</ul>
</main>
{{tab-bar tabs=model.tabs}}

